<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/try.css">
    <title>Stock Analysis</title>
    <link rel="icon" href="../static/symbol.jpg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Groww+Sans:wght@400;500;700&display=swap">
    <script src="https://kit.fontawesome.com/df1d14f19d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="main">
        <div class="heading">
            <div class="heading-1-box">
                <div class="symbol" style="height: 100%;display: flex;justify-content: center;">
                    <p><a href="/">
                            <img src="../static/logo.jpg" alt=""
                                style="width:auto;height:78px;margin-bottom:1vh;background-color: white;"></a>
                    </p>
                </div>
            </div>
            <div class="heading-2-box">
                <div class="heading-2-box-inner">
                    <div class="search">
                        <input type="text" id="stock-search" placeholder="Search for stocks..." autocomplete="off">
                        <div id="searchResults"></div>
                    </div>
                    <div class="button"><button id="search-button">Search</button></div>
                </div>
            </div>
        </div>
        <div class="web-align">
            <p>{{stock_name}} Stock Analysis</p>
        </div>
        <div class="data">
            <div class="container-1">
                <div class="stock_price" style="display: flex;">₹{{current_price}}
                    <div class="day_change"">
                        {% if flag==1 %}
                        <span style=" font-size: 1.5rem;margin-left: 10px;"><i class="fa-solid fa-arrow-up fa-2xs"
                            style="color: #049f71;"></i>{{day_change}}</span>

                        {%else%}
                        <span style=" font-size: 1.5rem;margin-left: 10px;"><i class="fa-solid fa-arrow-down fa-2xs"
                                style="color: #cd2323;"></i>{{day_change}}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="c-1-1">
                    {{ graphHTML|safe }}
                </div>
                <div class="c-1-2">
                    <h1 style="color: #44475b;margin-left: 10px;font-weight: bold;">About Stock:</h1>
                    <p> {{stock_knowledge}} </p>



                </div>
            </div>
            <div class="container-2">
                <div class="c-2-1">
                    <table class="stock-table">
                        <tr>
                            <th>Attribute</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Previous Close</td>
                            <td>{{stock_info['Previous Close']}}</td>
                        </tr>
                        <tr>
                            <td>Day Range</td>
                            <td>{{stock_info['Day Range']}}</td>
                        </tr>
                        <tr>
                            <td>Year Range</td>
                            <td>{{stock_info['Year Range']}}</td>
                        </tr>
                        <tr>
                            <td>Market Cap</td>
                            <td>{{stock_info['Market Cap']}}</td>
                        </tr>
                        <tr>
                            <td>Avg Volume</td>
                            <td>{{stock_info['Avg Volume']}}</td>
                        </tr>
                        <tr>
                            <td>P/E Ratio</td>
                            <td>{{stock_info['P/E Ratio']}}</td>
                        </tr>
                        <tr>
                            <td>Dividend Yield</td>
                            <td>{{stock_info['Dividend Yield']}}</td>
                        </tr>
                        <tr>
                            <td>Primary Exchange</td>
                            <td>{{stock_info['Primary Exchange']}}</td>
                        </tr>
                    </table>

                </div>
                <div class="c-2-1">c-2-1</div>
                <div class="c-2-1">c-2-1</div>

            </div>
        </div>
    </div>


    <script>
        document.getElementById('stock-search').addEventListener('input', function () {
            var query = this.value;
            if (query.trim().length === 0) {
                document.getElementById('searchResults').innerHTML = '';
                return;
            }

            fetch('/search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'query=' + encodeURIComponent(query)
            })
                .then(response => response.json())
                .then(data => {
                    var resultsHtml = '';
                    data.results.forEach(result => {
                        var id_name = result['title'] + " " + result['bse_scrip_code']
                        resultsHtml += '<div onclick="redirectToResult(\'' + id_name + '\')">' + result['search_id'] + '</div>';
                    });
                    document.getElementById('searchResults').innerHTML = resultsHtml;
                });
        });


        function redirectToResult(result) {
            // Redirect to the desired Flask route with the selected result
            window.location.href = '/result/' + encodeURIComponent(result);
        }
    </script>

</body>

</html>