<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/try.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Groww+Sans:wght@400;500;700&display=swap">
</head>

<body>
    <div class="main">
        <div class="heading">
            <div class="heading-1-box">
                <div class="symbol">
                    <img src="https://resources.groww.in/web-assets/img/website-logo/groww-logo-light.svg" alt=""
                        style="width:100%;height:60px;margin-top: 1vh;margin-bottom:1vh;">
                </div>
            </div>
            <div class="heading-2-box">
                <div class="heading-2-box-inner">
                    <input type="text" id="stock-search" placeholder="Search for stocks...">
                    <button id="search-button">Search</button>
                </div>
            </div>
            <div class="heading-3-box"></div>
        </div>
        <div class="web-align">"web-align"</div>
        <div class="data">
            <div class="container-1">
                <div class="c-1-1">c-1-1</div>
                <div class="c-1-2">c-1-2
                    <br>hello how are you<br>
                    <br>hello how are you<br>
                    <br>hello how are you<br>
                    <br>hello how are you<br>
                    <br>hello how are you<br>
                    <br>hello how are you<br>
                    <br>hello how are you<br>
                    <br>hello how are you<br>
                    <br>hello how are you<br>
                    <br>hello how are you<br>




                </div>
            </div>
            <div class="container-2">
                <div class="c-2-1">c-2-1</div>
                <div class="c-2-1">c-2-1</div>
                <div class="c-2-1">c-2-1</div>

            </div>
        </div>
    </div>
</body>

</html>