<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Candlestick Chart</title>
        <style>
                #chart {
                        width: 100%;
                        height: 79vh;
                }

                @media only screen and (max-width: 405px) {
                        #chart {
                                width: 100%;
                                height: 72vh;
                                /* Adjust height based on view height */
                        }

                        .stockName {
                                align-content: center;
                        }
                }
        </style>
        <link rel="stylesheet" href="../static/css/view_chart.css">
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>

<body>

        <div id="chartContainer">
                <div id="stockName">{{stock_name}}</div>
                <div id="chart"></div>
        </div>
        <div class="bottom_bar">
                <div class="bottom_buttons">
                        <button type="button" class="button" style="margin-left: 1%;" value="5y">5y</button>
                        <button type="button" class="button" value="1y">1y</button>
                        <button type="button" class="button" value="3m">3m</button>
                        <button type="button" class="button" value="1m">1m</button>
                        <button type="button" class="button" value="5d">5d</button>
                        <button type="button" class="button" value="1d">1d</button>
                </div>
                <div id="timeDisplay"></div>
        </div>

        <script>
                const properties = {
                        layout: {
                                backgroundColor: '#000000',
                                textColor: '#131722',
                        },
                        grid: {
                                vertLines: {
                                        color: '#bbd9fb',
                                },
                                horzLines: {
                                        color: '#bbd9fb',
                                },
                        },
                        timeScale: {
                                timeVisible: true,
                                secondsVisible: false,
                                borderColor: 'transparent',
                        },
                        rightPriceScale: {
                                borderColor: 'transparent',
                                drawTicks: false,
                        },
                };

                const dom = document.getElementById('chart');
                const chart = LightweightCharts.createChart(dom, properties);
                const candlestickSeries = chart.addCandlestickSeries();

                console.log({{ script_code| safe}});

                const cache = {};
                function fetchData(timeframe) {
                        let exchng = '';
                        script_code = {{script_code | safe}};

                        if ('NSE' in script_code) {
                                exchng = script_code['NSE'];
                        } else if ('BSE' in script_code) {
                                exchng = script_code['BSE'];
                        }
                        const stockname = '{{stock_name}}';
                        const cacheKey = `${timeframe}_${exchng}`;

                        // Check if data for this timeframe and exchange is already in cache
                        if (cache[cacheKey]) {
                                console.log('Using cached data');
                                candlestickSeries.setData(cache[cacheKey]);
                                return;  // Use cached data and return early
                        }


                        const url = '/chart_timeframe?timeframe=' + encodeURIComponent(timeframe) + '&script_code=' + encodeURIComponent(exchng) +'&stockname=' + encodeURIComponent(stockname);
                        
                        fetch(url)
                                .then(response => response.json())
                                .then(data => {
                                // Update the chart with the new data
                                candlestickSeries.setData(data);

                                cache[cacheKey] = data;
                                })
                                
                        };


                // Fetch default data when the page loads
                window.onload = function () {
                        data = {{ view_chart_api_result | safe }}
                        data => data.json()
                        console.log(data);
                candlestickSeries.setData(data)} // Fetch data for default time frame (5 years)


                // Event listener for button clicks
                document.querySelectorAll('.button').forEach(button => {
                        button.onclick = function () {
                                // Change background color of clicked button
                                document.querySelectorAll('.button').forEach(btn => {
                                        btn.style.backgroundColor = ''; // Reset to default (empty string)
                                });
                                this.style.backgroundColor = 'grey';

                                // Fetch data for the selected time frame
                                fetchData(this.value);
                        };
                });

                // Ensure the chart resizes dynamically with the window
                function resizeChart() {
                        chart.applyOptions({ width: dom.clientWidth, height: dom.clientHeight });
                }

                window.addEventListener('resize', resizeChart);
                resizeChart(); // Initial sizing

                function updateTime() {
                        var currentTime = new Date();
                        var timezoneOffsetMinutes = currentTime.getTimezoneOffset();
                        var timezoneOffsetMilliseconds = timezoneOffsetMinutes * 60 * 1000;
                        currentTime.setTime(currentTime.getTime() + timezoneOffsetMilliseconds);
                        currentTime.setHours(currentTime.getHours() + 5);
                        currentTime.setMinutes(currentTime.getMinutes() + 30);
                        var istHours = currentTime.getHours();
                        var istMinutes = currentTime.getMinutes();
                        var istSeconds = currentTime.getSeconds();
                        var formattedIstTime = istHours + ":" + (istMinutes < 10 ? "0" : "") + istMinutes + ":" + (istSeconds < 10 ? "0" : "") + istSeconds;
                        document.getElementById('timeDisplay').innerText = formattedIstTime + "(UTC+5:30)";
                }

                // Update time initially and then every second
                updateTime();
                setInterval(updateTime, 1000);
        </script>

</body>

</html>